.header {
  text-align: center;
}

.header h1 {
  font-size: 200px;
  font-family: fantasy;
  font-weight: unset;
  color: #333;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  position: relative;
  margin-bottom: 15px;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile-badge {
  position: absolute;
  top: 5px;
  right: -10px;
  background-color: white;
  padding: 2px 8px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 14px;
}

.profile-name {
  text-align: center;
  background-color: #333333;
  padding: 15px 20px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.profile-name h2 {
  font-size: 46px;
  margin: 0 0 5px;
  color: #e8e1d3;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
}

.subtitle {
  font-size: 16px;
  color: #e8e1d3;
  margin: 0;
}
